@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
    --font-manrope: "Manrope", sans-serif;
    --font-geistmono: "Geist Mono", monospace;
}

@layer base {

    body {
        font-family: var(--font-manrope)
    }

    h1 {
        @apply text-6xl font-bold;
    }

    h2 {
        @apply text-5xl font-bold;
    }

    h3 {
        
        @apply text-4xl font-bold;
    }

    h4 {
        
        @apply text-3xl font-bold;
    }

    h5 {
        @apply text-2xl font-medium;
    }

    h6 {
        @apply text-xl font-medium;
    }
}

@custom-variant dark (&:where(.dark, .dark *));

@custom-variant group-open {
    &:is(:where(.group):is(.open, [open], :popover-open, :open) *) {
        @slot;
    }
}

@utility grid-cols-responsive-* {
    grid-template-columns: repeat(auto-fit, minmax(calc(--value(integer) * 1px), 1fr));
}


